/* Card Container Styles */
.card-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 2.44rem;
    width: 89%;
    margin-left: 1.5rem;
}

/* Card Inner Div Styles */
.card-inner-div {
    display: flex;
    justify-content: space-between;
    padding: 0.88rem 0.94rem 0.75rem 0.94rem;
    align-items: center;
    gap: 1rem;
    margin-top: 1.06rem;
    align-self: stretch;
    border-radius: 0.5rem;
    border: 1px solid #f8cdca;
    border-left: 6px solid #E03021;
}

/* Color for the last paragraph in card inner div */
.card-inner-div p:last-child {
    color: #c65353;
}

/* Styles for the second card inner div */
.card-inner-div:nth-child(2) {
    border: 1px solid #fff1c2;
    border-left: 6px solid #ffc400;
    margin-top: 1.5rem;
}

/* Styles for the third card inner div */
.card-inner-div:nth-child(3) {
    border: 1px solid #d0eed8;
    border-left: 6px solid #37aa57;
}

/* Font size for paragraph inside card inner div */
.card-inner-div > p {
    font-size: 0.9375rem;
}

/* Card Styles */
.card-container > div {
    border-radius: 0.75rem;
    border: 1px solid #EBEBEB;
    background: #FFF;
    box-shadow: 0px 0.599px 5.32px 0px rgba(0, 0, 0, 0.01), 0px 2.01px 17.869px 0px rgba(0, 0, 0, 0.01), 0px 9px 80px 0px rgba(0, 0, 0, 0.02);
    width: 16.7rem;
    height: 8.8rem;
    padding: 1.2rem;
}

/* Styles for elements inside card container */
.card-container > div > div {
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 500;
}

/* SVG styles inside card container */
.card-container > div svg {
    margin-top: 3px;
}

/* Styles for paragraph inside card container */
.card-container > div > p {
    color: rgba(0, 0, 0, 0.67);
    font-family: Poppins;
    font-size: 0.7rem;
    font-style: italic;
    font-weight: 275;
    line-height: normal;
}

/* Styles for the last card in container */
.card-container > div:last-child {
    border-radius: 0.75rem;
    border: 1px solid #EBEBEB;
    background: rgba(2, 171, 108, 0.67);
    box-shadow: 0px 0.599px 5.32px 0px rgba(0, 0, 0, 0.01), 0px 2.01px 17.869px 0px rgba(0, 0, 0, 0.01), 0px 9px 80px 0px rgba(0, 0, 0, 0.02);
    width: 10rem;
    height: 9rem;
}

/* Styles for heading inside the last card */
.card-container > div:last-child > h2 {
    color: #FFF;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125rem;
}

/* Styles for number inside the last card */
.card-container > div:last-child > h1 {
    color: rgba(255, 255, 255, 0.84);
    text-align: center;
    font-size: 2.875rem;
    font-weight: 500;
}

/* Media query for medium-sized screens (1300px or less) */
@media (max-width: 1300px) {
    .card-container {
        flex-wrap: wrap; /* Allow items to wrap to the next line */
    }

    .card-container > div {
        width: calc(50% - 10px); /* Show two divs per line with some gap */
        margin-bottom: 1.5rem; /* Add some spacing between divs */
    }
}

@media (max-width: 1390px) {
    .card-container {
        width: 95%;
        gap: 10px;

    }

    /* .card-container > div {
        width: calc(50% - 10px);
        margin-bottom: 1.5rem; 
    } */
}

/* Media query for smaller screens (768px or less) */
@media (max-width: 769px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        padding-right: 20px;
        margin-top: 2.44rem;
        width: 93%;
        margin-left: 1.87rem;
    }

    .card-container > div {
        width: 100%; /* Make each div take full width */
        margin-bottom: 1.5rem; /* Add some spacing between divs */
        margin: auto;
    }

    /* Additional styles or adjustments for smaller screens if needed */
}
