.sidenav-container {
    background-color: #181818;
    width: 15.6rem;
    height: 1306px;
}

.sidenav-img {
    width: 100%;
    display: flex;
    width: 13.6875rem;
    padding: 0.8125rem 0.625rem 0.8125rem 1.25rem;
    align-items: center;
    gap: 5px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.sidenav-img>img {
    width: 8rem;
    height: 2.9375rem;
}

.data-in-section-sidenav {
    display: flex;
    padding: 0.625rem 0.9375rem 0.9375rem 0.9375rem;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    border-top: 1px solid #2C2C2C;
    border-bottom: 1px solid #2C2C2C;
    background: #181818;
}

.data-in-section-sidenav>div:first-child {
    display: flex;
    width: 13.6875rem;
    padding: 0.8125rem 0.625rem 0.8125rem 1.25rem;
    align-items: center;
    gap: 0.3125rem;
}

.data-in-section-sidenav>div:first-child>p {
    color: #5C5C5C;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
    /* 128.571% */
    text-transform: uppercase;
    margin-left: 1.25rem;
}

.data-in-section-sidenav>div:nth-child(2) {
    display: flex;
    align-items: center;
    width: 13.6875rem;
    height: 3.125rem;
}

.data-in-section-sidenav>div:nth-child(2)>p {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
    margin-left: 0.56rem;
    /* 120% */
}

.data-in-section-sidenav>div:nth-child(2)>img {
    margin-left: 1.31rem;
}

.data-in-section-sidenav>div:nth-child(2)>svg {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}



.data-in-section-sidenav>div:nth-child(3) {
    display: flex;
    align-items: center;
    width: 13.6875rem;
    height: 2.75rem;
}

.data-in-section-sidenav>div:nth-child(3)>p {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
    margin-left: 0.37rem;
    /* 120% */
}

.data-in-section-sidenav>div:nth-child(3)>svg:first-child {
    margin-left: 1.06rem;
}

.data-in-section-sidenav>div:nth-child(3)>svg {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}






.analyze-section-sidenav {
    display: flex;
    /* width: 15.5625rem; */
    padding: 0.625rem 0.9375rem 1rem 0.9375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    border-top: 1px solid #2C2C2C;
    border-bottom: 1px solid #2C2C2C;
    background: #181818;
}

.analyze-section-sidenav>div:first-child {
    display: flex;
    padding: 0.8125rem 0.625rem 0.8125rem 1.25rem;
    align-items: center;
    gap: 0.3125rem;
}

.analyze-section-sidenav>div:first-child>p {
    color: #5C5C5C;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
    /* 128.571% */
    text-transform: uppercase;
}

.analyze-section-sidenav>div:nth-child(2) {
    display: flex;
    padding: 0.8125rem 1.25rem;
    align-items: center;
    gap: 0.625rem;
}

.analyze-section-sidenav>div:nth-child(2)>p {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
}

.analyze-section-sidenav>div:nth-child(2)>img {
    /* margin-left: 1.25rem; */
}

.analyze-section-sidenav>div:nth-child(3) {
    display: flex;
    align-items: center;
    width: 13.6875rem;
    height: 2.75rem;
}

.analyze-section-sidenav>div:nth-child(3)>p {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
    margin-left: 0.62rem;
    /* 120% */
}

.analyze-section-sidenav>div:nth-child(3)>svg {
    margin-left: 1.25rem;
}

.analyze-section-sidenav>div:nth-child(3)>p:last-child {
    color: #02AB6C;
    font-family: HelveticaNeue;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 0.25rem;
}


.sidebar-button-div {
    width: 15.5625rem;
    height: 11.0625rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-button-div>button {
    width: 11.6875rem;
    height: 3.125rem;
    flex-shrink: 0;
    border-radius: 0.6875rem;
    background: #02AB6C;
    color: #FFF;
    border: 0;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
    /* 150% */
}