#table-container {
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 12px 12px 0px 0px;
    height: 100%;
    overflow-x: auto; /* Add horizontal scrolling for small screens */
}

.th1 {
    width: 20%; /* Adjust the percentage as needed */
    height: 38px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #a2a2a2;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    border: 1px solid #f5f5f5;
}

td {
    width: 20%; /* Adjust the percentage as needed */
    height: 56px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    color: #292929;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    border: 1px solid #f5f5f5;
}

.top-head {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding-right: 10px;
    width: 100%; /* Stack the header items vertically on small screens */
    border-radius: 12px 12px 0px 0px;
    border: 1px solid #EBEBEB;
}

.wise {
    display: flex;
    /* flex-direction: column; Stack the header items vertically on small screens */
    align-items: center;
    margin: 15px 17px;
    gap: 5px;
}

.wise > p {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.download {
    display: flex;
    /* flex-direction: column; Stack the header items vertically on small screens */
    align-items: center;
    border-radius: 8px;
    border: 1px solid #b5f28a;
    background: #FFF;
    box-shadow: 0px 0.599px 5.32px 0px rgba(0, 0, 0, 0.01), 0px 2.01px 17.869px 0px rgba(0, 0, 0, 0.01), 0px 9px 80px 0px rgba(0, 0, 0, 0.02);
    padding: 0px 10px;
    gap: 8px;
    height: 27px;
    margin: 15px 17px;

}

/* .download > p {
    border-left: none; 
    padding-left */
    .download > p {
        border-left: 1px solid greenyellow;
        padding-left: 10px;
    }

    @media screen and (max-width: 768px) {
        .th1,
        td {
            width: 90%; /* Set width to 90% for small screens */
        }
    
        .top-head,
        .wise,
        .download {
            flex-direction: row; /* Align header items horizontally on small screens */
        }
    
        .wise,
        .download {
            margin: 15px 0; /* Adjust margin for small screens */
        }
    
        .wise > p,
        .download > p {
            margin-left: 10px; /* Add margin for small screens */
        }
    }
    @media screen and (max-width: 430px){
        .download{
            display: none;
        }
        .top-head{
            border: none;
        }
    }